<div>

   <a href="/login" class="btn btn-outline-primary">Log In</a>
   <a href="/user/signup" class="btn btn-outline-warning">Sign Up</a>

    <a href="/signup" class="btn btn-outline-warning">Sign Up</a>
    <a href="/login" class="btn btn-outline-primary">Log In</a>

</div>