<p class="mt-2">
  Username: <a href="/users/{{currentUser.id}}">{{currentUser.name}}</a>
</p>

<form action="/logout" method="post">
  <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
</form>