{{#unless user.producer}}
    <a href="/become-producer" class="btn btn-outline-dark">Sell your products</a>
{{/unless}}

<a href="/users/{{currentUser.id}}" class="btn btn-outline-primary">View profile</a>

<form action="/logout" method="post" class="btn btn-outline-danger btn-sm">
  <button type="submit" class="">Logout</button>
</form>