{{#unless currentUser.producer}}
    <a href="/become-producer/{{currentUser.id}}" class="nav-link">Sell your products</a>
{{/unless}}



<a href="/users/{{currentUser.id}}" class="nav-link">View profile</a>

<form action="/logout" method="post" class="nav-link">
  <button type="submit" class="">Logout</button>
</form>